.Order {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 1rem;
    margin: 1rem auto;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(#000, .5);

    &__span {
        display: inline-block;
        border: 1px solid #ccc;
        margin: 0 5px;
        padding: 10px;
        box-shadow: 0 2px 3px rgba(#000, .5);
        text-transform: capitalize;
    }
}

@media(max-width: 500px) {
    .Order {
        font-size: 2rem;
    }
}