.Pizza {

    // width: 20%;
    // margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 8rem;
    width: 600px;
    height: 600px;
    border-radius: 500px;
    background: #4A1804;
    position: relative;
    left: 100px;
    // vertical-align: text-bottom;
}

.paraIng {
    // display: inline-block;
    position: absolute;
    top: 13rem;
    left: 5rem;
    color: #fff;
}

@media (max-width: 500px) {
    .paraIng {
        font-size: 4rem;
        top: 10rem;
        left: 3rem;
    }
}