.Pizza {

    // width: 20%;
    // margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 4.3rem;
    width: 600px;
    height: 600px;
    border-radius: 500px;
    background: #4A1804;
    position: relative;
    left: 100px;
    // vertical-align: text-bottom;
}

.paraIng {
    // display: inline-block;
    position: absolute;
    top: 180px;
    left: 10px;
    color: #fff;
}