.Input {
    padding: .5rem 1rem;
    margin: 1rem;
}

.Label {
    display: block;
    font-weight: bold;
    margin-bottom: .8rem;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: .6rem 1rem;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.invalid {
    border: 1px solid red;
    background-color: rgb(245, 175, 167);
}

@media(max-width: 500px) {
    .Input {
        padding: 1rem 2rem;
    }

    input[type='text'] {
        font-size: 1.5rem;
    }

    input[type='email'] {
        font-size: 1.5rem;
    }

    input[type='password'] {
        font-size: 1.5rem;
    }

    input[type='select'] {
        font-size: 1.5rem;
    }

    select {
        font-size: 1.5rem;
    }
}