.CheckoutSummary {

    margin: 0 auto;
    // width: 50rem;
    margin-top: 4rem;
    text-align: center;

    &__pizza {
        margin-top: -6rem;
    }
}

@media (max-width: 500px) {
    .CheckoutSummary {
        margin-top: 6rem;
        font-size: 2rem;
    }
}