.Auth {
    margin: 0 auto;
    margin-top: 15rem;
    text-align: center;
    width: 50rem;
    border: 1px solid #eee;
    margin-bottom: 2rem;
    box-shadow: 0 .3rem .5rem rgba(#000, .5);
    background-color: #eee;
}

@media (max-width: 500px) {
    .Auth {
        width: 80%;
        font-size: 2rem;
    }
}