.Auth {
    margin: 0 auto;
    margin-top: 13rem;
    text-align: center;
    width: 50rem;
    border: 1px solid #eee;
    margin-bottom: 2rem;
    box-shadow: 0 .3rem .5rem rgba(#000, .5);
    background-color: #eee;
    border-radius: 1rem;


    &__error {
        color: red;
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__success {
        color: green;
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.SwitchLink {
    font-size: 1.2rem;
    color: #703B09;
    font-weight: 300;
}

.SwitchLink a,
.SwitchLink a:active {
    text-decoration: none;
    background-color: #703B09;
    margin-left: .7rem;
    padding: .5rem;
    border-radius: 100px;
    color: #fff;
    transition: all .2s;
}

.SwitchLink a:hover {
    background-color: #40A4CB;
    color: #fff;
}

@media (max-width: 600px) {
    .Auth {
        width: 80%;
        font-size: 2rem;
        margin-top: 20rem;
    }

    .SwitchLink {
        font-size: 2rem;
    }
}